body{
    background-color: white;
}

/*---COLUMN 1*/

.col-md-2{  
display: flex;
flex-direction: column;  
background-color: #547860;
}

.btn-dark:hover{
    transform: scale(1.1);    
}
.btn{
    margin-top: 35px;
    background-color: rgba(53, 51, 51, 0.6);
}

.createmessage{
    color: darkslategrey;
    position: fixed;
    left: 20px;
    bottom: 20px;
}
.createmessage:hover{
    transform: scale(1.2);
}


/*---COLUMN 2*/

.col-md-3{
    background-color: #5C8478;
}

/*EMAIL PREVIEWS*/
.list-group{
    padding-top: 20px;   
    
 
}
.list-group-item{
    background-color: rgba(81, 81, 81, 0.4);
}
.list-group-item:hover{
    transform: scale(1.04);
    background-color: rgb(88, 86, 86);
}
.list-group-item.active{
    background-color: rgb(88, 86, 86) !important;
   
}

/*
.email-preview{
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(53, 51, 51, 0.4); 
    color: whitesmoke;
    padding-bottom: 20px;
}
.email-preview:hover{
    transform: scale(1.05);
}

p1{
    margin-left: 20px;
}
p2{
    text-indent: 20px;
}
   
.email-preview1{
    background-color: rgba(53, 51, 51, 0.6);
    padding-bottom: 20px;
    color: white;
    border-radius: 10px;
   
   
}
.email-preview1:hover{
    transform: scale(1.05);
}
*/


/*--COLUMN 3----*/

.col-md-7{
    background-color: #5C8480;
    height: 1080px;
}
h5{
    margin-top: 30px;
}
.sample-email{
margin-left: 100px;
margin-top: 30px;
}

.reply{
    margin-top: 20px;
    margin: CENTER;
    max-width: 100%;
}
.button{
    margin-left: auto;
}




/*-----PHONE SIZE---*/
@media screen and (max-width: 600px){
    .col-md-2{
        background-color: darkcyan;
        
    }
    .btn-group-vertical{
        display: none;
    }
    .btn-outline-secondary{
        display: none;
    }
    .circle{
        display: none;
    }
    .col-md-7{
        text-align: left;
        
    }
    .email-preview1{
        background-size:contain;
    }
    .sample-email{
        background-color: #5C8480;
  
}
.createmessage{
    display
}
.composetext{
}



/*---TABLET SIZE---*/
@media screen and ()
    
}


/**----DESKTOP SIZE---/