body{
    background-color: white;
}

/*---COLUMN 1*/

.col-md-2{  
display: flex;
flex-direction: column;  
background-color: #547860;
}

.btn-group-vertical{
    padding-top: 20px;
    
}
.btn-dark:hover{
    transform: scale(1.3);
    
}
.createmessage{
    color: darkslategrey;
    display: flex;
    position: fixed;
    left: 20px;
    bottom: 20px;
    
   
 
   
  
}

.createmessage:hover{
    transform: scale(1.2);
}


/*---COLUMN 2*/

.col-md-3{
    background-color: #5C8478;
    
    border-style: none;
    border-color: red;

}
.email-preview{
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(53, 51, 51, 0.6); 
    color: whitesmoke;
    padding-bottom: 20px;
}
.email-preview:hover{
    transform: scale(1.05);
}

p1{
    margin-left: 20px;
}
p2{
    text-indent: 20px;
}
   


.email-preview1{
    background-color: rgba(53, 51, 51, 0.6);
    padding-bottom: 20px;
    color: white;
    border-radius: 10px;
   
   
}
.email-preview1:hover{
    transform: scale(1.05);
}



/*--COLUMN 3----*/

.col-md-7{
    background-color: #5C8480;
    height: 1080px;
    
}
h1{
    text-align: left;
    margin-left: 100px;
}

p{
    margin-left: 100px;
    margin-right: 100px;
}
.form-group{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.bi-reply{
    margin: CENTER;
}




/*-----PHONE SIZE---*/
@media screen and (max-width: 600px){
    .col-md-2{
        background-color: darkcyan;
        
    }
    .btn-group-vertical{
        display: none;
    }
    .btn-outline-secondary{
        display: none;
    }
    .circle{
        display: none;
    }
    /*.col-md-7{
        display: none;
        
    }*/
    .email-preview1{
        background-size:contain;
    }
       
       
       
        
   
}

/*---TABLET SIZE---*/
@media screen and ()
    
}


/**----DESKTOP SIZE---/